*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #523d29;
}


.logo{
    text-transform: uppercase;
    font-family: "Century Gothic";
    color: #d6c9af;
}


.nav-list{
    display: flex;
    list-style: none;
}

.nav-list li{ margin-left: 30px; }

.nav-list li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 15px;
    color: #d6c9af;
}
.signin{
  border-radius: 20px;
  padding: 10px;
}

.mid-sec{
  background-image: url('../images/kwanzaa.png');
  width: 80%;
   margin: 0px auto;
}

#hamburger-toggle{ display: none; }

.hamburger{
    width: 30px; height: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 25px;
}

.hamburger .bar{
    display: inline-block;
    width: 30px; height: 2px ;
    background-color: #d6c9af;
    position: relative;
    transition: all 0.3s;
}

.hamburger .bar::before, .hamburger .bar::after{
    content: "";
    position: absolute;
    width: 100%; height: 100%;
    background-color: #f2ece6;
    transition: all 0.3s;
}

.hamburger .bar::before{ transform: translateY(-10px); }

.hamburger .bar::after{ transform: translateY(10px); }

@media (max-width:600px){

    .nav-list{
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: #523d29;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }

    .nav-list li{ margin: 10px 0; }

.nav-list li a{
      display: inline-block;
      font-size: 20px;
      padding: 15px 20px;
      transition: all 0.3s;
      color: #d6c9af;
}

.nav-list li a:hover{
      background-color: #f2ece6;
      color: #926a58;
      transform: translateY(-10px);
}

.hamburger{
      display: flex;
      z-index: 999;
}

#hamburger-toggle:checked ~ .nav-list{ transform: none; }

#hamburger-toggle:checked ~ .hamburger .bar::before{ transform: rotate(45deg); }

#hamburger-toggle:checked ~ .hamburger .bar{ background-color: transparent; }

#hamburger-toggle:checked ~ .hamburger .bar::after{ transform: rotate(-45deg); }

}  /* MEDIA QUERY END */

.banner{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url("https://images.unsplash.com/photo-1585937421612-70a008356fbe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1020&q=100");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.parah h2{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d6c9af;
  font-size: 60px;
  font-weight: 500;
  padding:200px 0px 10px 0px;
  
}
 button{
  display: block;
  margin: auto;
  background-color: #c39983;
  border: 1px solid rgba(14, 13, 13, 0.226);
  border-radius: 10px;
  padding: 15px;
  font-size: 25px;
  justify-content: center;
  cursor: pointer;
}
.order-btn{
  text-decoration: none;
  color: #523d29;
}

.veg-sec{
  margin-top: 40px;
  background-image: url("../images/vegback.png");
  height: 400px;
}
.veg-sec img{
  display: flexbox;
  float: right;
  max-height: 380px;
  max-width: fit-content;
  padding: 20px;
}
.abt h1{
  display: flex;
  text-align: left;
  justify-content: space-around;
  color: #523d29;
  font-size: 40px;
  padding: 15px;
}
.abt p{
  padding: 60px;
  font-size: 30px;
}
.chat-sec{
  background-image: url("../images/chat-sec.png");
  height: 400px;
}

 .chat-sec img{
   float: left;
   height: 450px;
   padding: 20px;
 }
 .chat-sec h1{
  display: flex;
  text-align: left;
  justify-content: space-around;
  color: #523d29;
  font-size: 40px;
  padding: 15px;

 }
 .chat-sec p{
   font-size: 30px;
   padding: 60px;
 }

 .des-sec{
   margin-top: 40px;
  background-image: url("../images/vegback.png");
  height: 400px;
}
.des-sec img{
  display: flexbox;
  float: right;
  max-height: 380px;
  max-width: fit-content;
  padding: 15px;
}
.dessert h1{
  display: flex;
  text-align: left;
  justify-content: space-around;
  color: #523d29;
  font-size: 40px;
  padding: 15px;
}
.dessert p{
  padding: 60px;
  font-size: 30px;
}
/*------------------media query chat section----------*/

@media(max-width:564px){
  .chat-sec{
    margin-top: 100px;
    position: relative;
    background-image: url("../images/chat-sec.png");
    height: 400px;
  }
  
   .chat-sec img{
     margin: 0px auto;
     height: 320px;
     padding: 20px;
   }
   .chat-sec h1{
    text-align: center;
    justify-content: space-around;
    color: #523d29;
    font-size: 24px;
    padding: 10px;
  
   }
   .chat-sec p{
    width: 80%;
    margin: 0px auto;
    text-align: center;
     padding: 10px;
     font-size: 16px;
   }
  
}

/*------------------------veg sec---------*/

@media(max-width:564px){
  .veg-sec{
    position: relative;
    margin-top: 40px;
    background-image: url("../images/vegback.png");
    height: 400px;
  }
  .veg-sec img{
    
   margin: 0px auto;
    height: 320px;
    max-width: fit-content;
    padding: 20px;
  }
  .abt h1{
   
    text-align: center;
    justify-content: space-around;
    color: #523d29;
    font-size: 24px;
    padding: 10px;
  }
  .abt p{
    width: 80%;
    margin: 0px auto;
    text-align: center;
     padding: 10px;
     font-size: 16px;
  }
}
/*--------------------Dessert section*/

@media(max-width:564px){
  .des-sec{
    position: relative;
    margin-top: 100px;
   background-image: url("../images/vegback.png");
   
 }
 .des-sec img{
  
   height: 320px;
   max-width: fit-content;
   padding: 15px;
 }
 .dessert h1{
   text-align: center;
   text-align: left;
   justify-content: space-around;
   color: #523d29;
   font-size: 24px;
   padding: 10px;
 }
 .dessert p{
  width: 80%;
  margin: 0px auto;
  text-align: center;
   padding: 10px;
   font-size: 16px;
 }
}

.container {
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  .categories {
    padding: 100px 0;
  }
  
  .section-heading {
    font-family: "STIX Two Text", serif;
    font-size: 30px;
    text-transform: capitalize;
  }
  
  .categories-wrapper {
    display: grid;
    grid-gap: 100px;
    margin-top: 50px;
    padding-right: 50px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .category {
    background-color: white;
    border: 2px solid rgb(193, 207, 193);
    padding: 50px 30px;
    border-radius: 30px;
    position: relative;
  }
  
  .category h4 {
    font-family: "STIX Two Text", serif;
    font-size: 24px;
    text-transform: capitalize;
  }
  
  .category .recipes-number {
    color: #848484;
    font-size: 14px;
  }
  
  .category img {
    position: absolute;
    max-width: 175px;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.2));
    top: 50%;
    transform: translateY(-50%);
    right: -20%;
  }
  
  .category .btn {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 50px;
    color: #502e2d;
    border: 2px solid #502e2d;
    text-decoration: none;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 14px;
    white-space: nowrap;
    transition: all 0.3s;
  }
  
  .category .btn:hover {
    background-color: #502e2d;
    color: #fff;
  }
  
  @media (max-width: 1200px) {
    .categories-wrapper {
      grid-gap: 30px;
      padding-right: 0;
    }
  
    .category {
      text-align: center;
      padding: 50px 30px 130px;
    }
  
    .category img {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  @media (max-width: 992px) {
    .category {
      padding: 50px 30px 110px;
    }
  
    .category img {
      max-width: 150px;
    }
  }
  
  @media (max-width: 768px) {
    .section-heading {
      text-align: center;
    }
  
    .categories-wrapper {
      grid-template-columns: 1fr;
      max-width: 550px;
      margin: 50px auto;
    }
  
    .category {
      padding: 50px 30px;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .category img {
      position: static;
      transform: none;
    }
  }
  
  @media (max-width: 576px) {
    .category {
      padding: 40px 20px;
    }
  
    .category h4 {
      font-size: 20px;
    }
  
    .category img {
      max-width: 120px;
    }
  
    .category .btn {
      padding: 10px 30px;
    }
  }

  .container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background: #24262b;
    padding: 70px 0;
}

.footer-col{
    width:25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer ul li a{
    font-size: 20px;
    color: #bbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer ul li a:hover{
    color:#fff;
    padding-left: 8px;
}
.footer .social-links a{
    display: inline-block;
    height: 40px;
    width:40px;
    background: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #fff;
    transition: all 0.3 ease;
}
.footer-col .social-links a:hover{
    color:#24262b;
    background: #fff;
}
@media(max-width:767px){
    .footer-col{
        width:100%;
        margin-bottom: 30px;
    }
}
@media(max-width:564px){
    .footer-col{
        width:100%;
        margin-bottom: 30px;
    }
}

  